.palmira{ 
    position:absolute;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    text-decoration: none;
    color: #000000;
    top: 18%;
    left: 2%;
    position: absolute;
    font-family: Mulish !important;
}