.cursed {
  position: fixed;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000000;
  top: 20%;
  left: 4.2%;
  position: absolute;
  font-family: Mulish !important;
}
.linea-vertical {
  position: absolute;
  left: 50%;
  top: 17%;
  border-left: 2px solid rgb(26, 25, 25);
  height: 40vh;
}

.cursed2 {
  position: fixed;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000000;
  top: 20%;
  left: 55%;
  position: absolute;
  font-family: Mulish !important;
}

.cardex {
  position: absolute;
  height: 10px;
  width: 180px;
  padding: 90px !important;
  background-color: rgb(15, 65, 118);
  border-radius: 40px;
  top: 37%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 4.2%;
}

.cadex-conf {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #ffffff;
  padding: 20px;
  align-items: center;
}

.cardex2 {
  position: absolute;
  height: 10px;
  width: 180px;
  padding: 90px !important;
  background-color: rgb(15, 65, 118);
  border-radius: 40px;
  top: 37%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 55%;
}

.linea-horizontal {
  position: absolute;
  top: 60%;
  left: 4.2%;
  border-top: 2px solid black;
  width: 92.2%;
}

.corsel {
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000000;
  top: 60%;
  left: 4.2%;
  position: absolute;
  font-family: Mulish !important;
}

.corsel b {
  color: rgb(15, 65, 118);
}

.cardex3 {
  position: absolute;
  width: 180px;
  padding: 90px !important;
  background-color: rgb(51, 99, 150);
  border-radius: 40px;
  top: 73%;
  left: 4.2%;
}

.line-horizonte {
  position: absolute;
  left: 67%;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: white;
  height: 100%;
}

.cardex32 {
  text-align: center;
  font-size: 0.9rem;
  text-decoration: none;
  color: #ffffff;
  top: 20%;
  left: 10%;
  position: absolute;
  font-family: Mulish !important;
}

.cardex4 {
  position: absolute;
  width: 180px;
  padding: 90px !important;
  background-color: rgb(15, 65, 118);
  border-radius: 40px;
  top: 73%;
  left: 24%;
}

.cardex42 {
  text-align: center;
  font-size: 0.9rem;
  text-decoration: none;
  color: #ffffff;
  top: 20%;
  left: 10%;
  position: absolute;
  font-family: Mulish !important;
}
