.ContainerEstudiantes {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-x: hidden !important;
}

.TitleEstudiantes {
  display: flex;
  margin-top: 15vh;
  font-size: 1.5rem;
  color: #0f4175;
  align-items: center;
  justify-content: start;
  width: 80%;
  max-width: 80%;
  transition: all 0.3s;
  overflow-y: hidden;
  overflow-x: hidden !important;
}

.ListaEstudiantes {
  margin-top: 1vh; 
}

.AgregarListEstudiantes {
  display: flex;
  position: absolute;
  font-size: 1.5rem;
  margin-top: 20vh;
  color: #0f4175;
  left: 65%;
  height: 0;
}

.AgregarListEstudiantes Button {
  font-size: 2rem;
  width: auto;
  padding: 2% 10%;
  height: auto;
  cursor: pointer;
}

.SearchEstudiantes {
  display: flex;
  align-items: center;
  height: 3rem;
  transition: all 0.3s;
  margin: 10px 20px 0 20px;
}

.SearchButtonEstudiantes {
  display: flex;
  border: none;
  border-radius: 100%;
  background-color: rgb(15, 65, 118);
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 2%;
  z-index: 2;
}

.SearchButtonEstudiantes:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0.5rem 0.5rem rgba(15, 65, 118, 0.5);
  transition: all 0.3s;
}

.SearchFieldEstudiantes {
  display: flex;
  border: none;
  width: 20vw;
  height: 3rem;
  font-size: 1.5rem;
  transition: all 0.3s;
  align-items: center;
}

.SearchFieldEstudiantes input {
  padding:10px;
}

.SearchFieldEstudiantes .InputContenedorE {
  margin: 0;
}

.InactiveE {
  opacity: 0;
  animation: desaparecerE 0.3s alternate;
  animation-fill-mode: forwards;
  pointer-events: none !important;
}

.ActiveE {
  opacity: 1;
  animation: aparecerE 0.3s alternate;
  animation-fill-mode: forwards;
}

@keyframes aparecerE{
  0%{
      transform: translateX(-100%);
      width: 0;
  }
  50%{
      transform: translateX(-5%);
  }
  100%{
      transform: translateX(0);
      width: 20vw;
  }
}

@keyframes desaparecerE{
  0%{
      transform: translateX(0);
      width: 20vw;
  }
  50%{
      transform: translateX(-5%);
  }
  100%{
      transform: translateX(-100%);
      width: 0;
  }
}

.ListaEstudiantes{
  overflow-x: hidden;
}

.AgregarListEstudiantes .Boton{
  width: unset;
  white-space: nowrap;
  transition: all 0.3s;
}

.AgregarListEstudiantes button:hover{
  transform: scale(1.1);
  box-shadow: 0 0 0.5rem 0.5rem rgba(15, 65, 118, 0.5);
}