.coron {
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;
    top: 20%;
    left: 10%;
    position: absolute;
    font-family: Mulish !important;
}

.coronel {
    display: flex;
    position: absolute;
    width: 180px;
    padding: 90px !important;
    background-color: rgb(15, 65, 118);
    border-radius: 40px;
    top: 32%;
    left: 10%;
    height: 0;
}

.coronel button {
    color: black;
    border: none;
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
    margin: auto;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    bottom: 2.5rem;
    background-color: white;
}

.coronel button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0.5rem 0.5rem rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.coronel2 {
    display: flex;
    height: 0;
    position: absolute;
    width: 180px;
    padding: 90px !important;
    background-color: rgb(15, 65, 118);
    border-radius: 40px;
    top: 32%;
    left: 40%;
}

.coronel2 button {
    color: black;
    border: none;
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
    margin: auto;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    bottom: 2.5rem;
    background-color: white;
}

.coronel2 button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0.5rem 0.5rem rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.coron2 {
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;
    top: 20%;
    left: 40%;
    position: absolute;
    font-family: Mulish !important;
}

.coronel3 {
    display: flex;
    height: 0;
    position: absolute;
    width: 180px;
    padding: 90px !important;
    background-color: rgb(15, 65, 118);
    border-radius: 40px;
    top: 32%;
    right: 10%;
}

.coronel3 button {
    color: black;
    border: none;
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
    margin: auto;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    bottom: 2.5rem;
    background-color: white;
}

.coronel3 button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0.5rem 0.5rem rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.coron3 {
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;
    top: 20%;
    right: 16.2%;
    position: absolute;
    font-family: Mulish !important;
}

.coron4 {
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;
    top: 55%;
    left: 10%;
    position: absolute;
    font-family: Mulish !important;
}

.coronel4 {
    display: flex;
    position: absolute;
    width: 180px;
    height: 0;
    padding: 90px !important;
    background-color: rgb(15, 65, 118);
    border-radius: 40px;
    top: 67%;
    left: 10%;
}

.coronel4 button {
    color: black;
    border: none;
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
    margin: auto;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    bottom: 2.5rem;
    background-color: white;
}

.coronel4 button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0.5rem 0.5rem rgba(255, 255, 255, 0.1);
}