.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: auto;
    font-family: Mulish;
    font-size: 1.5rem;
    color: #000;

}
.container b{
    color: rgb(15, 65, 118);
}

.container2{
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 44%;
    width: auto;
    font-family: Mulish;
    font-size: 1.5rem;
    color: #000;
}

.container3 {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 55%;
    width: auto;

}