.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: auto;
  font-family: Mulish;
  font-size: 1.5rem;
  color: #000;
}
.cont b {
  color: rgb(15, 65, 118);
}

.cont2 {
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 44%;
  left: 31%;
  font-family: Mulish;
  font-size: 1.5rem;
  color: #000;
}

.cont3 {
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 55%;
  left: 44.5%;
}

<<<<<<< HEAD
.cont3 a {
  text-decoration: none;
}
=======
}

.cont3 .Boton button{
    width: auto;
    height: 40px;
    font-size: 1.5rem;
    padding: 0px 10px;
    margin-left: 44%;
}

.cont3 .Boton button:hover{
    box-shadow: 0 0 0.5rem 0.5rem rgba(15, 65, 118, 0.5) !important;
    transform: scale(1.1);
    transition: all 0.3s;
}
>>>>>>> origin/Cursos_profesor
