.conte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: auto;
    font-family: Mulish;
    font-size: 1.5rem;
    color: #000;

}
.conte b{
    color: rgb(15, 65, 118);
}

.conte2{
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 44%;
    left: 31%;
    font-family: Mulish;
    font-size: 1.5rem;
    color: #000;
}

.conte3 {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 55%;
    left: 45.5%;

}