.NavBar{
    margin: 0;
    padding: 0;
}

.ContainerAgregarCurso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.CardAgregarCurso{
    display: flex;
    background-color: #A5A4A4;
    width: 50%;
    height: 50%;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    box-shadow: 10px 10px 10px 0.5px rgba(0, 0, 0, 0.5);
}

.TitleAgregarCurso{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    height: 10%;
}