.ContainerCursos {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 100%;
    width: 100%;
}

.TitleCursos {
    display: flex;
    margin-top: 15vh;
    position: absolute;
    font-size: 1.5rem;
    color: #0f4175;
    left: 10%;
}

.ListaCursos {
    margin-top: 25vh;
}

.AgregarListCursos {
    display: flex;
    position: absolute;
    font-size: 1.5rem;
    margin-top: 20vh;
    color: #0f4175;
    left: 80%;
    height: 0;
}

.AgregarListCursos Button {
    font-size: 2rem;
    width: auto;
    padding: 2% 10%;
    height: auto;
    cursor: pointer;
}

.AgregarListCursos Button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0.5rem 0.5rem rgba(15, 65, 118, 0.5) !important;
    transition: all 0.3s;
}

.CursosDes{
    display: flex;
    position: absolute;
    margin-top: 18vh;
    right: 20vw;
}

.CursosDes button{
    font-size: 2rem;
    width: 20vw;
    padding: 10%,100%;
    height: auto;
    cursor: pointer;
    transition: all 0.3s;
}

.CursosDes button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 0.5rem 0.5rem rgba(15, 65, 118, 0.5) !important;
    transition: all 0.3s;
}
