.ContainerCursos {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 100%;
    width: 100%;
}

.TitleCursos {
    display: flex;
    margin-top: 15vh;
    font-size: 1.5rem;
    color: #0f4175;
    align-items: center;
    justify-content: start;
    width: 80%;
    transition: all 0.3s;
}

.SearchCursos{
    display: flex;
    align-items: center;
    height: 3rem;
    transition: all 0.3s;
    margin: 10px 20px 0 20px;
}

.SearchButtonCursos {
    display: flex;
    border: none;
    border-radius: 100%;
    background-color: rgb(15, 65, 118);
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 2%;
    z-index: 2;
}

.SearchButtonCursos:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0.5rem 0.5rem rgba(15, 65, 118, 0.5) ;
    transition: all 0.3s;
}

.SearchFieldCursos{
    display: flex;
    border: none;
    width: 20vw;
    height: 3rem;
    font-size: 1.5rem;
    transition: all 0.3s;
    
}

.SearchFieldCursos .InputContenedor{
    margin: 0;
}

.Inactive{
    opacity: 0;
    animation: desaparecer 0.3s alternate;
    animation-fill-mode: forwards;
    pointer-events: none !important;
}

.Active{
    opacity: 1;
    animation: aparecer 0.3s alternate;
    animation-fill-mode: forwards;
}

@keyframes aparecer{
    0%{
        transform: translateX(-100%);
        width: 0;
    }
    50%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(0);
        width: 20vw;
    }
}

@keyframes desaparecer{
    0%{
        transform: translateX(0);
        width: 20vw;
    }
    50%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(-100%);
        width: 0;
    }
}

.AgregarListCursos {
    display: flex;
    position: absolute;
    font-size: 1.5rem;
    margin-top: 20vh;
    color: #0f4175;
    left: 80%;
    height: 0;
}

.AgregarListCursos Button {
    font-size: 2rem;
    width: auto;
    padding: 2% 10%;
    height: auto;
    cursor: pointer;
}

.AgregarListCursos Button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0.5rem 0.5rem rgba(15, 65, 118, 0.5) !important;
    transition: all 0.3s;
}

.CursosDes{
    display: flex;
    position: absolute;
    margin-top: 18vh;
    right: 20vw;
}

.CursosDes button{
    font-size: 2rem;
    width: 20vw;
    padding: 10%,100%;
    height: auto;
    cursor: pointer;
    transition: all 0.3s;
}

.CursosDes button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 0.5rem 0.5rem rgba(15, 65, 118, 0.5) !important;
    transition: all 0.3s;
}
