.Title {
  display: flex;
  margin-top: -5vh;
  position: absolute;
  font-size: 1.5rem;
  color: #0f4175;
  left: 10%;
}

.Lista {
  margin-top: 25vh;
}

.AgregarList {
  display: flex;
  position: absolute;
  font-size: 1.5rem;
  margin-top: -7vh;
  color: #0f4175;
  left: 80%;
  height: 0;
}

.AgregarList Button {
  font-size: 2rem;
  width: auto;
  padding: 2% 10%;
  height: auto;
  cursor: pointer;
}
