/* General Container for Rubricas Table */
.TablaRubricasContainer {
    display: flex;
    margin: 0;
    padding: 0;
    height: 98vh;
    width: 100%;
    max-width: 100%;
    top: 15vh;
    flex-direction: column;
}

/* Rubricas Specific Styling */
.Rubricas {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
}

.TitleTablaRubricas {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-family: Mulish;
    font-size: 1.5rem;
    color: #000;
    margin-top: 130px;
}

.RubricasTable {
    min-width: 60%;
    max-width: 60%;
    height: 100%;
    border-collapse: separate;
    word-break: break-all;
    border: none;  /* Añadido para asegurar que no haya bordes */
}

.RubricasTable tr,
.RubricasTable th,
.RubricasTable td {
    border: none;  /* Añadido para asegurar que no haya bordes */
}

.RubricasTable tr:last-child .Left {
    border-radius: 0 0 25px 25px;
}

.RubricasTableHeader {
    display: flex;
    background-color: rgb(15, 65, 118);
    margin: 0;
    align-items: center;
    justify-content: center;
}

.uno {
    border-radius: 25px 25px 0 0;
}

.uno h1 {
    background-color: white;
}

.RubricasTableHeader h1 {
    color: black;
    border-radius: 25px;
    width: 50%;
}

.RubricasTableHeader tr {
    border-radius: 25px;
}

.RubricasTableBody {
    display: flex;
    background-color: #A5A4A4;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.RubricasTableBody button {
    background-color: white;
    border-radius: 50px;
    width: 50%;
}

.Right {
    width: fit-content;
}

.Right .InputContenedor {
    width: 20%;
}

.TablaRubricas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    max-width: 100%;
}

.ButtonTablaRubricas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.delete-button-rubricas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs-rubricas{
    width: 90%;
}

.DeleteButton {
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 10px;
}

.DeleteButton:hover {
    box-shadow: 0 0 0.5rem 0.5rem rgba(255, 255, 255, 0.4);
    transition: all 0.3s;
    transform: scale(1.1);
}

.ButtonAgregarRubricas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.ButtonAgregarRubricas button {
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s;
}

.ButtonAgregarRubricas button:hover {
    box-shadow: 0 0 0.5rem 0.5rem rgba(255, 255, 255, 0.4);
    transition: all 0.3s;
    transform: scale(1.1);
}

.ButtonGuardarRubricas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonGuardarRubricas button:hover {
    box-shadow: 0 0 0.5rem 0.5rem rgba(15, 65, 118, 0.4);
    transition: all 0.3s;
    transform: scale(1.1);
}

.DeleteButtonThActions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.DeleteButtonThActions {
    margin: 10px;
}

.EscalaTitleTablaRubricas {
    display: flex;
    width: 120px;
    font-family: Mulish;
    font-size: 1.5rem;
    color: #000;
    margin: auto 0;
    height: fit-content;
    align-items: center;
    align-content: center;
    justify-content: center;
}
