.main-container-informes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
}

.value-informe {
  text-align: center;
}

.back-to-inf-ev {
  margin: 10px;
  background-color: #0f4176;
  color: white;
  padding: 5px 50px 5px 50px;
  font-size: 24px;
  border-radius: 15px;
  text-decoration: none;
  transition: 200ms;
  border-style: none;
}

.back-to-inf-ev:hover {
  box-shadow: 0px 0px 10px 1px #145193;
  padding: 5px 52px 5px 52px;
  transition: 200ms;
}

.promedio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.promedio-total  {
  text-align: center;
  width: 40px;
  height: 40px;
  background-color: #0f4176;
  color: white;
  padding: 10px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
}


.comentarios-individual {
  border-radius: 5px;
  background-color: #a5a4a4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.comentarios-individual h2 {
  justify-self: center;
  height: 80%;
  width: 95%;
  
}
