.NavBar {
    margin: 0;
    padding: 0;
}

.ContainerCardForm {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 25vh 0 0 0;
}

.CardForm {
    display: flex;
    flex-direction: column;
    background-color: #A5A4A4;
    width: 60%;
    height: 60%;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    box-shadow: 10px 10px 10px 0.5px rgba(0, 0, 0, 0.5);
    position: relative;
}

.TitleCardForm {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    height: 10%;
}

.TitleCardForm h1 {
    font-family: Mulish;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.FormCardForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1% 0 0 0;
    padding: 2px;
}

.FormCardForm form {
    width: 85%;
}

.Input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.Input h2 {
    font-size: 1.5rem;
}

.FormCardForm .Boton {
    width: auto;
}

.FormCardForm .Boton button:hover {
    border: none;
    box-shadow: 0 0 0.5rem 0.5rem rgba(15, 65, 117, 0.3) !important;
}

.MuiAutocomplete-root {
    margin: 0 !important;
    padding: 0 !important;
    width: 70% !important;
}

/* Botones */
.AgregarEstudiantes,
.AgregarEstudiantes2, 
.AgregarEstudiantes3 {
    display: flex;
    font-weight: normal;
    font-size: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 65, 118);
    margin: 0;
    padding: 8px 20px;
    border: none;
    border-radius: 25px;
    position: absolute;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
}

.AgregarEstudiantes {
    bottom: 18.5px; /* Ajuste para separar los botones */
    right: 3%;
}

.AgregarEstudiantes2 {
    bottom: 18.5px;
    right: 21%;
}

.AgregarEstudiantes3 {
    bottom: 18.5px;
    left: 3%;
}

.AgregarEstudiantes:hover,
.AgregarEstudiantes2:hover,
.AgregarEstudiantes3:hover {
    box-shadow: 0 0 0.5rem 0.5rem rgba(15, 65, 117, 0.3) !important;
    transition: all 0.3s;
}

.ComboInput .MuiAutocomplete-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 0;
    padding: 5px 0px 5px 10px;
    width: 98% !important;
    height: 100% !important;
}