.navbar-c {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(15, 65, 118);
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  height: 8rem;
}

.user-sign {
  padding-left: 11%;
  text-align: center;
}

.navbar-c img {
  cursor: pointer;
  width: 90px;
  height: 90px;
}

.student-nav {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.student-nav a {
  text-decoration: none;
  transition: 300ms;
}

.student-nav a:hover {
  transition: 300ms;
  transform: scale(1.05);
}

.default-nav {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
