.Posillo {
    width: 780px;
    height: 500px;
    background-color: #b3afaf;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.Vaso {
    background-color: rgb(15, 65, 118);
    color: white;
    padding: 10px;
    font-size: 0.75rem;
    text-align: center;
    font-family: 'Mulish', sans-serif;
}

.Plato {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    font-family: 'Mulish', sans-serif;
    font-size: 0.8rem;
}

.Plato .Estudiante {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: #b3afaf;
    border-radius: 10px;
    font-size: 1rem;
    color: black;
}

.Plato .Estudiante h1 {
    flex-grow: 1;
    margin: 0;
    color: black;
    font-size: 1.5rem;
}

.beba {
    display: flex;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
}

.Plato button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9e0202;
    transition: all 0.3s;
}

.Plato button:hover {
    transform: scale(1.1);
}