.Posillo {
    width: 780px;
    height: 500px;
    background-color: #b3afaf;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Vaso {
    background-color: #004080;
    color: white;
    padding: 1px;
    font-size: 0.9rem;
    text-align: center;
    font-family: Mulish !important;
}

.Plato {
    font-size: 1rem; 
    margin-left: 15px;
    margin-top: 5px;
}

.estudiantes-list {
    list-style: none;
    padding: 0;
}

.estudiantes-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 5px;
}

.estudiantes-list li span {
    font-family: Mulish !important;
    font-size: 1.5rem; 
    margin-right: 10px;
    color: black;
    border-radius: 20px;
}

.estudiantes-sin {
    font-family: Mulish !important;
    font-size: 1.5rem; 
    margin-right: 10px;
    color: black;
    border-radius: 20px;
}

.beba {
    border: none;
    cursor: pointer;
}
