.List {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 100%;
    margin-top: 2rem;
    background-color: #A5A4A4;
    border-radius: 25px;
}

.ItemContainer {
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.LeftList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    max-width: 30%;
    justify-content: space-between;
    align-items: center;
}

.RightList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 10%;
}

.NombreList  {
    margin: 0 10%;
    flex-grow: 10;
    display: flex;
    gap: 7px;
}

.CodeList {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 10%;
}

.CreateIconList:hover {
    transform: scale(1.1);
    cursor: pointer;
}