.navb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: rgb(15, 65, 118);
    height: 8rem;
    display: flex;
    align-items: center;
    font-family: Mulish !important;
}

.navbh1 {
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    text-decoration: none;
    color: #ffffff;
    left: 46%;
    position: absolute;

}

.navba {
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    left: 89%;
    transition: all 0.3s;
}
.navba:hover {
    transform: scale(1.1);
}

.navbb {
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    left: 79%;
    transition: all 0.3s;
}
.navbb:hover {
    transform: scale(1.1);
}

.ima {
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    margin-left: -7rem;
    margin-top: 1.5rem;
}

.ima img {
    width: 38.5%;
    height: 80%;
}

.imaf {
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    margin-left: 5rem;
    margin-top: 1.5rem;
}

.imaf img {
    width: 38.5%;
    height: 80%;
}