.teams-container {
  width: 400px;
  height: 500px;
  background-color: #b3afaf;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.cabeza {
  background-color: rgb(15, 65, 118);
  color: white;
  padding: 1px;
  font-size: 0.9rem;
  text-align: center;
  font-family: Mulish !important;
}

.cabeza {
  background-color: #004080;
  color: white;
  padding: 10px;
  font-size: 0.75rem;
  text-align: center;
  font-family: 'Mulish', sans-serif;
}

.teams-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.elPapuContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinea elementos a los extremos */
  padding: 10px;
  margin: 5px 0;
  background-color: #b3afaf;
  border-radius: 10px;
  cursor: pointer;
}

.elPapuContainer.selected {
  background-color: rgb(15, 65, 118);
  color: white;
}

.elPapuContainer h1 {
  flex-grow: 1; /* Hace que el título ocupe el espacio disponible */
  margin: 0;
  font-size: 1.5rem;
  color: black;
}

.elPapuDelete {
  background: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: #9e0202;
  transition: transform 0.3s;
}

.elPapuDelete:hover {
  transform: scale(1.1);
}
