.teams-container {
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> front_back_sebas
  width: 400px;
  height: 500px;
  background-color: #b3afaf;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
=======
=======
    width: 400px;
    height: 500px;
    background-color: #b3afaf;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }

  .cabeza {
    background-color: rgb(15, 65, 118);
    color: white;
    padding: 1px;
    font-size: 0.9rem;
    text-align: center;
    font-family: Mulish !important;

>>>>>>> origin/Home2
>>>>>>> front_back_sebas
}

.cabeza {
  background-color: #004080;
  color: white;
  padding: 10px;
  font-size: 0.75rem;
  text-align: center;
  font-family: 'Mulish', sans-serif;
}

.teams-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.team {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  background-color: #b3afaf;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Mulish', sans-serif;
  font-size: 0.8rem;
}

.team.selected {
  background-color: rgb(15, 65, 118);
  color: white;
}