.epa {
    width: 400px;
    height: 500px;
    background-color: #b3afaf;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }

  .colombia {
    background-color: rgb(15, 65, 118);
    color: white;
    padding: 1px;
    font-size: 0.9rem;
    text-align: center;
    font-family: Mulish !important;

}

.listoCalisto {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    flex-direction: column;
}
  
  .bean {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    margin: 5px 0;
    background-color: #b3afaf;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Mulish', sans-serif;
    font-size: 0.8rem;
  }
  
  .bean.selected {
    background-color: rgb(15, 65, 118);
    color: white;
    width: fit-content;
  }